{{extend 'layout.html'}}

{{block head}}

<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
  var get_users_url = "{{=URL('api', 'get_users')}}";
  var add_image_url = "{{=URL('api', 'add_post', user_signature=True)}}";
  var usr_img_url = "{{=URL('api', 'get_pet_posts')}}";
  var set_price_url = "{{=URL('api', 'set_price')}}";
 
</script>


{{end}}

<div class="main_content">

  <div id="vue-div" class="display:none">
    <!-- Your code goes here.  Remember to call $("#vue-div").show() once you get the data for the first time. -->

    <div class="container padded">
      <div class="image_space fourquarters">
        <!-- Left part of the page -->
        <div v-if="self_page">
          <!-- Code to upload files, with control buttons -->
          {{if auth.user is not None: }}
          <div id="uploader_div" style="display:none">
            Upload an image file of your pet: <input id="file_input" type="file"  accept="image/jpeg">
            Animal type: <input id="type_input" type="text" v-model="animal_type">
            Pet Name: <input id="name_input" type= "text" v-model="pet_name">
            Please give a description of your pet and their needs: <input id="description_input" type="text" v-model="description">
            Contact Info: <input id="contact_input" type = "text" v-model="contact_info"/><br/>
          </div>

          <button v-if="!is_uploading" v-on:click="open_uploader"><i class="fa fa-plus"></i></button>
          <button v-if="is_uploading" v-on:click="upload_file">Submit</button>
          <button v-if="is_uploading"  v-on:click="close_uploader">Cancel</button>


         
           <!-- Edit the price: <input v-model="image.price" type="number" v-on:blur="set_price(image._idx)"/> -->

        </div>

        <div class="image_container">

          <ul class="container">
            <li v-for="image in images" class="card lifted padded quarter">
              <img v-bind:src="image.image_url" height=400"px" width="400px" class="padded"/>

              <p style="padding-left: 21px;" style="display: inline-block"> ${image.animal_type}</p>
              <p style="padding-left: 21px;" style="display: inline-block"> ${image.pet_name}</p>
              <p style="padding-left: 21px;" style="display: inline-block"> ${image.description}</p>
              <p style="padding-left: 21px;" style="display: inline-block"> ${image.contact_info}</p>



            </li>
          </ul>
        </div>
      </div>

      

</div>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>




{{else: }}
{{if auth.user is None: }}
<div class="container max900 center">
  <br/>
  <h1>PetMet</h1>
  <p class="center">Please login to meet other Pet lovers!</p>
  <br/>
  <a href="{{=URL('default', 'user/login')}}" class="btn">Login</a>
  <a href="{{=URL('default', 'user/register')}}" class="btn">Register</a>
</div>
{{pass}}
{{pass}}
